@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

:root {
  --card-width: 250px;
  --space: 20px;
  --transition: 0.3s ease-out;
}

body {
  font-family: Montserrat;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space);
  padding: var(--space);
}

.card {
  position: relative;
  width: var(--card-width);
  min-height: 300px;
  padding: var(--space);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  font-size: 1.5rem;
  color: #ffffff;
  text-align: right;
    background: url("https://images.unsplash.com/photo-1532123675048-773bd75df1b4?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzU4MDUxODQ&ixlib=rb-4.0.3&w=350")
    0 / cover no-repeat;
  transition: width var(--transition);
}

.card1 {
    position: relative;
    width: var(--card-width);
    min-height: 300px;
    padding: var(--space);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    font-size: 1.5rem;
    color: #ffffff;
    text-align: right;
      background: url("https://i.pinimg.com/originals/5d/4a/c4/5d4ac4b1feb7ee8d7ea412f759eaa582.jpg")
      0 / cover no-repeat;
    transition: width var(--transition);
  }

.card p {
  user-select: none;
}

.card-name span {
  display: block;
  font-size: 1rem;
}

.card-details {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: calc(var(--space) * 2);
  color: #ffffff;
  text-align: left;
  font-size: 1.2rem;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  background-color: rgba(237, 179, 19, 0.811);
  transition: clip-path var(--transition);
}

.card-details p {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.card.active .card-details {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.active {
  width: calc(var(--card-width) * 2);
}
